* {
  box-sizing: border-box;
}

html {
  background: #f3f1f1;
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

#root {
  width: 100vw;
  height: 100vh;
}
